@model oficinadomarcio.Models.RegisterViewModel
@{
    ViewBag.Title = "Cadastre-se";
}

<h2 class="text-white d-flex justify-content-center my-5">@ViewBag.Title</h2>

@using (Html.BeginForm("Cadastre-se", "Account", FormMethod.Post, new { @class = "m-auto d-flex flex-column p-4", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="my-4">
        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control bg-transparent border-custom" })
    </div>

    <div class="my-4">
        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control bg-transparent border-custom" })

    </div>
    <div class="my-4">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control bg-transparent border-custom" })
    </div>

    @Html.ValidationSummary("", new { @class = "text-white" })

    <div class="col-md-12 m-auto">
        <input type="submit" class="btn btn-default bg-custom-yellow text-white" value="Registrar" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
