@model oficinadomarcio.Models.RegisterViewModel
@{
    ViewBag.Title = "Cadastre-se";
}

<div class=" d-flex align-self-center my-auto p-5 border border-custom w-25">

    @using (Html.BeginForm("Cadastre-se", "Account", FormMethod.Post, new { @class = "m-auto", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12 my-4">
            @Html.LabelFor(m => m.Email, new { @class = "control-label bg-custom" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control bg-transparent border-custom" })
        </div>
        <div class="col-md-12 my-4">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control bg-transparent border-custom" })
        </div>
        <div class="col-md-12 my-4">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control bg-transparent border border-custom" })
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="col-md-12 m-auto">
            <input type="submit" class="btn btn-default bg-custom-yellow text-white" value="Registrar" />
        </div>
    }

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
