@model IEnumerable<oficinadomarcio.Models.Produto>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
        @Html.ActionLink("NOVO PRODUTO", "Create", "Produtos", null, new { @class = "btn text-white bg-primary my-4", role = "button" })
        <table id="produtos" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantidade)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Remover", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#produtos").DataTable();
            $(".paginate_button").css({
                "margin": "0 10px"
            })
        })
    </script>
}
</html>
