@model IEnumerable<oficinadomarcio.Models.Produto>

@{
    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <table id="produtos" class="table table-bordered text-white mt-5 border-custom">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Descricao, "Details", "Produtos", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("NOVO PRODUTO", "Create", "Produtos", null, new { @class = "btn btn-default bg-custom-yellow text-white mt-4", role = "button" })

</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#produtos").DataTable({
                "language": {
                    "lengthMenu": "Mostrar MENU registros por página",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página PAGE de PAGES",
                    "infoEmpty": "Nenhum registro disponível",
                    "search": "Pesquisar",
                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    "next": "Próximo",
                    "infoFiltered": "(filtrado de MAX registros no total)"
                }
            });
            $(".paginate_button").css({
                "margin": "0 10px"
            })
        })
    </script>
}