<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-5 px-5">
    @Html.ActionLink("Oficina do Marcio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navPaginaInicial" aria-controls="navPaginaInicial">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-inline-flex justify-content-end" id="navPaginaInicial">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("CONTATO", "Contact", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("SOBRE", "About", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("FAÇA SEU AGENDAMENTO", "Index", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("LOGIN", "Index", "Home", new { @class = "nav-link" })
            </li>

        </ul>
    </div>
</nav>
