@model oficinadomarcio.Models.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-white d-flex justify-content-center">Deletar</h2>

<div class="row">
    <div class="col-md-8 m-auto d-flex justify-content-center mt-4">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()    


        }
    </div>
    <div class="form-actions no-color d-flex justify-content-center p-1">
        <input type="submit" value="Delete" class="btn btn-default bg-custom-yellow text-white  " /> |
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>
