@model oficinadomarcio.Models.Veiculo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-white d-flex justify-content-center">Deletar veículo</h2>

<div class="row">
    
    <div class="col-md-8 m-auto d-flex justify-content-center mt-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ano)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ano)
            </dd>

        </dl>

    </div>
</div>

<div class="form-actions no-color d-flex justify-content-center">
    <input type="submit" value="Delete" class="btn btn-default bg-custom-yellow text-white" /> |
    @Html.ActionLink("Voltar", "Index")
</div>
