@model oficinadomarcio.Models.Veiculo

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid m-3 p-3">
    <h4 class="text-white d-flex justify-content-center">Veiculo</h4>
    
    <dl class="dl-horizontal mt-5">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Placa }) |
        @Html.ActionLink("Voltar", "Index")
    </p>
</div>

