@model oficinadomarcio.Models.Agendamento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar</h2>

<div class="row">
<div class="col-md-8 m-auto">
    <h4 class="text-white d-flex justify-content-center">Agendamento</h4>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veiculo.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veiculo.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_agendamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_agendamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default bg-custom-yellow text-white" /> |
            @Html.ActionLink("voltar", "Index")
        </div>
    }
</div>
</div>