@model oficinadomarcio.Models.Agendamento

@{
    ViewBag.Title = "Agendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid m-3 p-3">
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Horario.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_agendamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_agendamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_servico)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Voltar a lista", "Index")
    </p>
</div>

