@model oficinadomarcio.Models.Agendamento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-white d-flex justify-content-center">Edit</h2>

<div class="row">
    <div class="col-md-8 m-auto d-flex justify-content-center mt-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control bg-transparent border-custom" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control bg-transparent border-custom" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>
@*
            <div class="form-group">
                @Html.LabelFor(model => model.Data_agendamento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Data_agendamento, new { htmlAttributes = new { @class = "form-control bg-transparent border-custom" } })
                    @Html.ValidationMessageFor(model => model.Data_agendamento, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Data_agendamento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="date" name="Data_agendamento" id="Data_agendamento" class="form-control bg-transparent border-custom" />
                    @Html.ValidationMessageFor(model => model.Data_agendamento, "", new { @class = "text-danger", id = "custom-validator" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HorarioId, "HorarioId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("HorarioId", null, htmlAttributes: new { @class = "form-control bg-transparent border-custom" })
                    @Html.ValidationMessageFor(model => model.HorarioId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CpfCliente, "CpfCliente", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CpfCliente", null, htmlAttributes: new { @class = "form-control bg-transparent border-custom" })
                    @Html.ValidationMessageFor(model => model.CpfCliente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlacaVeiculo, "PlacaVeiculo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PlacaVeiculo", null, htmlAttributes: new { @class = "form-control bg-transparent border-custom" })
                    @Html.ValidationMessageFor(model => model.PlacaVeiculo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default bg-custom-yellow text-white" />
                </div>
            </div>
        </div>
            <div>
                @Html.ActionLink("Voltar", "Index")
            </div>
        }


</div>
    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
