@model IEnumerable<oficinadomarcio.Models.Agendamento>

@{
    ViewBag.Title = "Agendamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.ActionLink("NOVO AGENDAMENTO", "Create", "Agendamentos", null, new { @class = "btn text-white bg-primary my-4", role = "button" })
    <table id="agendamentos" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_servico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Horario.Hora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_agendamento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Titulo, "Details", "Agendamentos", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_servico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario.Hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_agendamento)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#agendamentos").DataTable();
            $(".paginate_button").css({
                "margin": "0 10px"
            })
        })
    </script>
}
